 <head>
  <title>RPS game</title>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css"/>
</head>
<body>
  <h1 id="rps">Rock, Paper, Scissors</h1>
  <h2>Enter name:</h2>
  <form action="/names" method="post">
  <input type="text" name="player" placeholder="name: player 1">
  <input type="submit" value="Submit">
  </form>
</body>